{% comment %}
** Rich text - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% comment %} Content settings {% endcomment %}
{%- assign title = object.settings.title -%}
{%- assign content = object.settings.content -%}
{%- assign image = object.settings.image -%}
{%- assign button_label = object.settings.button_label -%}
{%- assign button_link = object.settings.button_link -%}
{% comment %} End content settings {% endcomment %}

<section class="section" style="padding-top: {{ object.settings.padding_top }}px; padding-bottom: {{ object.settings.padding_bottom }}px;">
  <div class="container">
    <div class="one-whole column text-align-{{ object.settings.text_alignment }}">
      {% if image != blank %}
        {% render 'image-element',
                image: image.src,
                alt: image.alt
        %}
      {% endif %}

      {% if title != blank %}
        {% if object.settings.custom_font_size %}
          <h2 
            class="section-header home desktop-title {% unless object.settings.border_bottom %}title-bottom-border-none{% endunless %}"
            style="font-size: {{ object.settings.desktop_font_size }}px;"
          >
            {{ title }}
          </h2>
          <h2 
            class="section-header home mobile-title {% unless object.settings.border_bottom %}title-bottom-border-none{% endunless %}"
            style="font-size: {{ object.settings.mobile_font_size }}px;"
          >
            {{ title }}
          </h2>
        {% else %}
          <h2 class="section-header home {% unless object.settings.border_bottom %}title-bottom-border-none{% endunless %}">
            {{ title }}
          </h2>
        {% endif %}
      {% endif %}

      <div class="{{ object.settings.text_size }} trim-last-paragraph">
        {% if content != blank %}
          {{ content }}
        {% endif %}

        {% if button_label != blank and button_link != blank %}
          <a href="{{ button_link }}" class="action_button">
            {{ button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  .title-bottom-border-none {
    border-bottom: none !important;
  }
  .desktop-title {
    display: block !important;
  }
  .mobile-title {
    display: none !important;
  }
  @media only screen and (max-width: 797px) {
    .desktop-title {
      display: none !important;
    }
    .mobile-title {
      display: block !important;
    }
  }
</style>