{% comment %}
  The contents of the product.description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}

<section class="section">
  <div class="container">
    {% render 'product-structured-data' %}

    <div class="breadcrumb__wrapper one-whole column">
      <div class="breadcrumb product_breadcrumb">
        <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
          <span>
            {{ 'general.breadcrumbs.home' | t }}
          </span>
        </a>

        <span class="icon-right-arrow"></span>

        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
            <span>
              {{ collection.title }}
            </span>
          </a>
        {% else %}
          <a href="{{ routes.all_products_collection_url }}" title="{{ collections.all.title }}">
            {{ collections.all.title }}
          </a>
        {% endif %}

        <span class="icon-right-arrow"></span>

        {{ product.title }}
      </div>
    </div>
  </div>
</section>

<section class="section section--has-sidebar-option">
  <div class="container">
    {% section 'product__sidebar' %}

    {% section 'product-description-bottom-template' %}

    {% section 'product-recommendations' %}
  </div>
</section>
